p{
    color: red;
}

.contenedor{
    background-color: $color-fondo;
    font-family: $dongle;

    .titulo{
        color: seagreen;
        &:hover{
            color: white;
        }
    }
    &:hover{
        background-color: rgb(156, 211, 156);
    }
}
